<h1>Data binding is on!</h1>
<p>{{ element }} → {{ num }}</p>
<p> is PI 3.78? {{ num > 3.50 }}</p>

<hr>

<h1>Property Binding</h1>

<button [disabled]="isDisabled" (click)="activate()">Click</button>
<button [disabled]="!isDisabled" (click)="enable()">Enable</button>
<br>

<img src="https://www.w3schools.com/howto/img_avatar.png" [hidden]="isDisabled">

<br>

<h1>Event Binding</h1>

<button (click)="alertInfo($event)">Event</button><br>
<div (mousemove)="mouseMoveTest($event)" style="background: royalblue; width: 300px; height: 300px">{{ position.x }} || {{ position.y }}</div>

<br>

<h1>Two-way Binding → {{ title }}</h1>
<input [(ngModel)]="title">

